
html, body {
	background-color: #fff;
	position: relative;
	height: 100%;
	margin: 0;

	font-family: 'Roboto', sans-serif, Arial;
	font-size: 14px;
	font-weight: 400;
}

h1 { font-size: 36px; margin: 0 0 20px 0; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

hr {
	margin: 30px 0;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 160px;
	background-color: #eee;

	.menu {
		li a {
			display: block;
			line-height: 50px;
			height: 50px;
			padding: 0 20px;
			border-bottom: solid 1px #ccc;

			&.active {
				background-color: $colorPrimary;
				color: #fff;
			}
		}
	}

	header {
		width: 160px;
		height: 50px;
		position: relative;
		background-image: url(/img/bg1.png);
		background-position: center center;
		background-size: cover;
		margin-bottom: 0;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-bottom: solid 1px #ccc;
				padding: 20px;

				em {
					font-size: 10px;
					display: block;
					margin-bottom: 5px;
					text-transform: uppercase;
					color: #666;
				}

				&:last-child {
					border-bottom: none;
				}

				&.copyright {
					font-size: 12px;
					line-height: 24px;
				}

				.username {
					font-size: 16px;
				}
			}
		}
	}

}

main {
	position: relative;
    left: 180px;
    width: calc(100% - 200px);
    padding: 30px 0;
	max-width: 920px;
}

thead th {
	font-weight: bold;
	background-color: #eee;
}

p {
	line-height: 20px;
	margin-bottom: 15px;
}

strong {
	font-weight: 600;
}

fieldset {
	label {
		line-height: 32px;
		display: block;
	}
}
