{% extends 'Default/base.html.twig' %}
{% set page = 'server' %}

{% block body %}

	{{ Macros.breadcrum([
		[ 'Server' ],
	]) }}

	<div class="panel">
		<h2>Server Management</h2>
		<div>
			<a href="/server/settings" class="btn btn-primary">Settings</a>
		</div>
	</div>

	<div class="panel">
		<h2>Server Controls</h2>
		<div>
			<a href="/server/settings" class="btn btn-success">Start</a>
			<a href="/server/settings" class="btn btn-danger">Stop</a>
			<a href="/server/settings" class="btn btn-info">Restart</a>
		</div>
	</div>

{% endblock %}
