{% extends 'Default/base.html.twig' %}
{% set page = 'dashboard' %}

{% block body %}

	{{ Macros.breadcrum([
		[ 'Dashboard', '/' ],
	]) }}

	<div class="page">

		<h1>Dashboard</h1>

	</div>
	
{% endblock %}
